#!/usr/bin/make -f

export DH_OPTIONS
DESTDIR=debian/sonoshttpapi

%:
	dh $@

build:
	npm install --production

override_dh_install:
	dh_install
	sed -i "s|path.resolve(__dirname, 'settings.json')|path.resolve('/etc/opt/sonoshttpapi/', 'settings.json')|g" $(DESTDIR)/opt/sonoshttpapi/settings.js

