#!/usr/bin/make -f

export DH_OPTIONS
DESTDIR=debian/sonosapi

%:
	dh $@

build:
	npm install --production

override_dh_install:
	dh_install
	sed -i "s|path.resolve(__dirname, 'settings.json')|path.resolve('/etc/opt/sonosapi/', 'settings.json')|g" $(DESTDIR)/opt/sonosapi/settings.js
